<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Tasks</title>
        <link rel="stylesheet" href="./list.css">
    </head>
    <body>
        <div class="container">
            <ul>
                <li>New task {{newtask}}</li>
            </ul>
        </div>

    </body>
</html>
